@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500&display=swap');

:root {
    --md-primary-fg-color: #A1CCD1;
}

[data-md-color-scheme="default"] {
    --md-default-bg-color: #151617;
    --md-default-fg-color: #fee;
    --md-default-fg-color--light: #def;
}

.md-header__topic {
    font-family: 'Tektur', cursive;
    font-size: 1.25rem;
}

/* 
.md-copyright {
    display: none;
} */